 /*----icon-facebook and telegram-------*/
  #menue{
        margin-left: 30px;
      }
   
  #facebook{
    font-size: 40px;
   color: blue;

  }
  #con{
    color: black;
    width: 25px;
    height: 25px;
    background-color:red;
    border-radius: 20px;
    margin-left: 47px;
    margin-top:-60px;
  }
   #telagram{
    font-size: 40px;
  
   color: blue;

  }
  #cont{
    color: black;
    width: 25px;
    height: 25px;
    background-color:red;
    border-radius: 20px;
    margin-left: 45px;
    margin-top:-60px;}

  /*--------icon-facebook and telegram----------------*/
  
  /*--------PROVINCE----------------------------------*/
  #sidebar{
    position: fixed;
    top: 0px;
    left: -200px;
    width: 200px;
    height: 80%;
    background:rgb(7, 113, 7);
       
    }
    #sidebar.active{
     left: 0px;
    }
    #sidebar .links a{
     display: block;
     padding: 10px;
     color: #eee;
     text-decoration: none;
     font-family: "Raleway",sans-serif;
     border-bottom: 1px solid#555;
         }
    #sidebar #sidebar-to{
     position: absolute;
     width: 40px;
     height: 40px;
     top: 10px;
     right: -50px;
     cursor: pointer;
     }
    #sidebar #sidebar-to span {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 100%;
     height: 5px;
     background: #111;
     }
           
     #sidebar #sidebar-to span:nth-child(1){
     top: 10%;
        }
     #sidebar #sidebar-to span:nth-child(3){
       top: 90%;
            }
     #text{
       color: #111;
         }
        

    .wrapper{
        display: flex;
      
        justify-content: center;
         align-items: center;
        justify-content: space-around;
    }
    .card{
        width: 280px;
        height: 360px;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0,0,5);
        transition: 0.5s ease-in-out;
        display: flex;

    }
    .card:hover{
        transform: translateY(20px);
    }
    .card:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }
    .card:hover:before{
        opacity: 1;

    }
    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        padding: 9px 9px ;
        
    }  
     .card .info{
        position: relative;
        z-index: 3;
        color: #fff;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
     }
      .card:hover .info{
        opacity: 1;
         transform: translateY(0px);
      }
      .card .info h1{
        margin: 0;
      }
      .card .info p{
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 20px;
      }
      .btn{
        display: flex;
        align-items: center;
        justify-content: center;
      }
     .btn-tex-p{
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: green;
  margin-left: 600px;
}
    .h1-p{
     font-family: "Bungee Shade", sans-serif;
     font-weight: 400;
     font-style: normal;
        }
    .info h1 p{
     font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    .info h2 p{
    color: #111;
    }

    
  /*--------PROVINCE----------------------------------*/
 
    .body-vdo{
     width: 80%;
     height: 500px;
     margin: 0 auto;
    padding: 10px 20px ;
    display: flex;}
    .body-vdo1{
        width: 100%;
        height: 100%;
        
        display: flex;
    }
    .vdo{
        width: 60%;
        height: 100%;
        display: flex;
       
    }
   .vdo_img{
        width: 40%;
        height: 100%;

    }
    .vdo_img img{
         width: 100%;
         height: 100%;
         margin-left: 200px;

    }
    /*--------PROVINCE----------------------------------*/
     /*--------firs new----------------------------------*/
  /*  .facebooks {
        width: 500px;
        height: 100px;
         margin-left:-500px;
         margin-top: 60px;
       
    }
     /* icon facebook
    #facebooks{
        font-size: 40px;
         margin-left:200px;
    }
    .cons{

        width: 25px;
        height: 25px;
        background-color:red; 
        position: absolute;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-left:230px;
        margin-top: -50px;
       color:black;
       border-radius: 30px;
      }
    
      .telegrams{
        width: 200px;
        height: 100px;
        background-color: aqua;
        display: flex;
        margin-left:260px;
        margin-top: -40px;
     }
     #telagrams{
        font-size: 40px;
     }
      .conts{

        width: 25px;
        height: 25px;
        background-color:red; 
        position: absolute;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-left:35px;
        margin-top: -10px;
       color:black;
       border-radius: 30px;
      }
      #menues{
        margin-left: 200px;
      }
     
 
         .facebook {
        width: 500px;
        height: 100px;
         margin-left:-100px;
         margin-top: 40px;
        /* background-color: aqua;}*/
     
    
     /* icon facebook*/
     /*------produch----*/
   .wraper{
        perspective: 3000px;
     }
      .cards{
         
       
        margin-top: 20px;
        width:100%;
        height: 530px;
        transform-style: preserve-3d;
        transform: transform .8s ease-in-out;
        cursor: pointer;
        border: 1px solid #ccc;
        box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2), -5px -5px 10px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        }
         .cards:hover{
            transform: rotateY(180deg);
        }
        .front_page,
        .back-page{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 15px;
        }
        .front_page{
            background-image: url(/img/hha/product/DSC_0330\(3\).JPG );
            background-size: cover;

        }
        .cards_inof{
            position: absolute;
            bottom: 50px;
            left: 45px;
            color: #fff;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
            text-align: center;

        }
       .cards_title{
            font-style: 2rem;
            font-weight: bold;
        }
        .cards-subtitle{
            font-size: 1.2rem;
            margin-top: 5px;
            color: black;
        }
        .back-page{
           background-color:rgb(59, 90, 13);
           color: #fff;
           display: flex;
           justify-content: center;
           align-items: center;
           transform: rotateY(180deg);
           box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        }
        .cards-conten{
            text-align: center;
            padding: 20px;
            max-width: 300px;

        }
        .cards-conten h3{
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .cards-description{
            font-size: 1rem;
            color: #ccc;
            line-height: 1.6;
        }
        .cards-button{
            background-color: red;
            color: #fff;
            padding: 12px 24px;
            font-size: 1rem;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            transition: all 0.3s ease;

        }
        .cards-button:hover{
            background-color: transparent;
            color:black;
            border: 1px solid  #0fbcf9;
        }
    /*------------3d-----------*/

        .sliders_d{
            width: 86%;
            height: 600px;
            background-color: #51515120;  
            display: flex;
            margin: 0%;
            margin-left: 100px;
          
        }

         .slider-product{
            background-color: ;
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: rotate 30s linear infinite;
          margin-left: 50px; 
          margin-top: 190px;
          
          
         }
     @keyframes  rotate{
        0%{
            transform: perspective(1000px) rotateY(0deg);
        }
        100%{
            transform: perspective(1000px)rotateY(360deg);
        }
     }
      .slider-product span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform-origin: center;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
      }
      .slider-product span img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        object-fit: cover;
        transition: 2s;
      }
      .slider-product span:hover img{
        transform: translateY(-50px) scale(1.2);
      }
         /*----------------------------------------------the end*/
        

.down{
        display: flex;
        width: 85%;
        height: 400px;
        justify-content: space-around;
        margin: 0 auto; 
        background-color:rgb(220, 217, 217);
        margin-top: 20px;
      
    }
    .down_up{
        width: 40%;
        height: 100%;
        padding: 2rem 1rem;
        background: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0, 0,0,5);
        transition: 0.5s ease-in-out;

    }
    .down_up:hover{
        transform: translateY(20px);
    }
    .down_up:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(134, 138, 138, 0.5), rgb(33, 38, 24));
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }
    .down_up:hover:before{
        opacity: 1;

    }
    .down_up img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        padding: 4px 6px;
    }
     .down_up .into{
        position: relative;
        z-index: 3;
        color: #fff;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
     }
      .down_up:hover .into{
        opacity: 1;
         transform: translateY(0px);
      }
      .down_up .into h1{
        margin: 0;
      }
     .down_up .into p{
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 20px;
      }
      .down_up2{
        width: 60%;
        height: 100%;
       /* background-color: blueviolet;*/
        padding: 30px 30px;
       
      }
       .down_up2 p{
        font-size: 18px;
        margin-top: 10px;

       
       }
       .down_up2 h2{
        margin-top: 10px;
         color: rgb(39, 151, 39);

       }



    /*--------pd-------*/
   
    .containers{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 600px;
        background: #f5f5f5;
        box-shadow: 0 30px 50px #dbdbdb;
    }
    .containers .slide .item{
        width: 200px;
        height:300px ;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 20px;
        box-shadow: 0 30px 50px #505050;
        background-position: 50% 50%;
        background-size: cover;
        display: inline-block;
        transition: 0.5s;

    }
    .slide .item:nth-child(1),
    .slide .item:nth-child(2){
        top: 0;
        left: 0;
        transform: translate(0,0);
        border-radius: 0;
        width: 100%;
        height:100% ;
    }
    .slide .item:nth-child(3){
        left: 50%;
    }
    .slide .item:nth-child(4){
        left: calc(50% + 220px);
    }
    .slide .item:nth-child(5){
        left: calc(50% + 440px);
    }
   /* here n=0, 1, 2, 3,...*/
   .slide .item:nth-child(6){
        left: calc(50% + 660px);
        opacity: 0;
    }


    .item .content{
        position: absolute;
        top: 50%;
        left: 100px;
        width: 300px;
        text-align: left;
        color: #eee;
        transform: translate(0, -50%);
        font-family: system-ui;
        display: none;

}
.slide .item:nth-child(2) .content{
    display: block;
}
.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
} 
.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
     opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;

}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
     opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
@keyframes animate{
from{
    opacity: 0;
transform: translate(0,100px);
filter: blur(33px);

}
to{
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
}
}
.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}
.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid#000;
    transition: 0.3s;
}
.button button:hover{
    background: #dbdbdb;
    color: #fff;
}
.buttons1{
    margin-top:30px;
    margin-left:30px;
}